nav {
    font-size: 1.5em;
    font-family: 'Neucha', cursive;
    line-height: 30px;
    margin:20px 1px;
    text-align: center; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

a {
    background-color:rgb(190, 145, 87);
    box-shadow: 0 10px 0 darkred;
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 20px;
    
}

a:hover {
  background-color:darkred;
}

a:active {
  box-shadow: none;
  top: 5px;
}


body {
    background-color:burlywood;
    letter-spacing: 6px;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    font-family:'Neucha', cursive;
    padding: 20px 20px 20px 20px;

}

h1 {
    font-size: 7em;
    line-height: 30px;
    margin:20px 1px;
    align-self: center;
    justify-self: center;
    padding: 90px ;
    text-align: center;  
    background-color: rgb(128, 65, 65);
    color: aliceblue;
  }



footer{
    font-size: 1em;
    background-color: darkred;
    line-height: 30px;
    margin:20px 1px;
    padding: 3px;  
    text-align: center;  
    color: white;
}

.page {
    background-color: darkred;
}

* {
    box-sizing: border-box;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

.msg {
    font-size:  1.3em;
    padding: 20px 20px 20px 20px;
    background-color: rgb(194, 153, 100);
    letter-spacing: 2px;
    color: rgb(65, 53, 53);
}

.box {
    background-color: rgb(194, 153, 100);
    padding: 100px 150px 150px 150px;

}

.clock {
  color: rgb(203, 214, 216);
  background-color: black;
  font-size: 2em;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 10px;
  text-align: center;
  padding: 100px 2px ;
 
}

@media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }